<div class="w-full h-screen flex">
  <!-- Sidebar -->
  <app-side-bar
    [mode]="'compact'"
    class="w-[300px] h-full fixed top-0 left-0 transition-all duration-300 bg-primary"
  >
  </app-side-bar>

  <!-- Main Content -->
  <div
    class="flex-1 bg-theme min-h-screen transition-all duration-300 ml-[300px]"
  >
    <!-- Header -->
    <header
      class="bg-theme-350 shadow-md fixed top-0 left-[300px] right-0 z-10 p-4 flex justify-between items-center"
    >
      <h1 class="text-lg font-bold text-on-surface">Main Header</h1>
      <div>
        <button
          appTheme
          class="bg-primary text-on-primary px-4 py-2 rounded mr-2"
        >
          Toggle Theme
        </button>
        <button
          appChangePrimaryColor="#de6363"
          class="bg-primary text-white px-4 py-2 rounded mr-2"
        >
          Red Primary
        </button>
        <button
          appChangePrimaryColor="#48976a"
          class="bg-primary text-white px-4 py-2 rounded mr-2"
        >
          Green Primary
        </button>
        <button
          [drawerPosition]="'left'"
          [drawerType]="'form'"
          appDrawer
          class="bg-primary text-white px-4 py-2 rounded mr-2"
        >
          left drawer
        </button>
        <button
          [drawerPosition]="'right'"
          [drawerType]="'form'"
          appDrawer
          class="bg-primary text-white px-4 py-2 rounded mr-2"
        >
          right drawer
        </button>
      </div>
    </header>

    <!-- Body Content -->
    <div class="pt-20 p-4">
      <p class="text-on-primary">This is the main content area.</p>
    </div>
  </div>
</div>
